/* 
   Aqui vamos a poner los comandos CSS
   NO BORRAR NADA HASTA QUE NO SE HAYA TERMINADO TODO EL TRABAJO
*/

/* 
   Parte de Edgar Parada
*/
.align-center{
   text-align: center;
   border: 3px solid green;
}

.align-right{
   float: right;
   border: 3px solid #030303;   
}

.CSS-Combinators + p {
   background-color: yellow;
}

a.highlight:hover {
   color: #ff0000;
   font-size: 22px;
} 

.CSS-Pseudo-Elements::first-line {
   color: #ff0000;
   font-variant: small-caps;
 }

 .CSS-Opacity img {
   opacity: 0.5;
 }

/* 
   Parte de Cristian Estrada
*/


/* 
   Parte de Jose Sandoval
*/